<div class="test">
  <h1>Test</h1>
</div>
{% schema %}
{
  "name": "Test",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Test",
      "settings": {}
    }
  ]
}
{% endschema %}
