<div class="test">
  <h1>Test</h1>
  {% for scheme in settings.color_schemes %}
  .color-{{ scheme.id }} {
    --color-background: {{ scheme.settings.background }};
    --color-text: {{ scheme.settings.text }};
  }
{% endfor %}
</div>
{% schema %}
{
  "name": "Test",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Text"
    },
    {
      "type": "color",
      "name": "Notification"
    }
  ],
  "presets": [
    {
      "name": "Test",
      "settings": {}
    }
  ]
}
{% endschema %}
